<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIC TAC TOE- Player Information</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="shortcut icon" href="../asset/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="wrapper flex-basic">
      <div class="container flex-basic">
        <h1 class="title font-anton">Tic Tac Toe Game</h1>
        <div class="input-container flex-basic">
          <input
            type="text"
            class="font-margarine"
            id="playerName1"
            placeholder="Enter Player 1 Name"
          />
          <input
            type="text"
            class="font-margarine"
            id="playerName2"
            placeholder="Enter Player 2 Name"
          />
          <div class="btns">
            <button
              class="btn flex-basic transit font-margarine"
              onclick="startPlayingWithFriend()"
            >
              <i class="fa-solid fa-play"></i><span>Start Game</span>
            </button>
            <button
              class="btn flex-basic transit font-margarine"
              onclick="goBack()"
            >
              <i class="fa-solid fa-circle-left"></i><span>Go Back</span>
            </button>
          </div>
        </div>

        <small id="version"></small>
      </div>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
